* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: #eeeeee;
  color: #333333;
  border-radius: 5px;
  margin: 30px 8px;
  padding: 15px;
}

h1,
p {
  text-align: center;
  margin: 0, auto;
}

h1 {
  margin-top: 25px;
}

p {
  margin: 16px 0;
}

figure {
  padding: 10px;
  background-color: white;
}

figure>img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figure>figcaption {
  text-align: center;
  margin: 16px auto;
  line-height: 1.5rem;
}

h3 {
  margin: 50px 0;
  text-align: center;
}

ul {
  padding-left: 40px;
  max-width: 550px;
  margin: 0 auto 50px;

}

ul>li {
  margin: 16px 0 16px;
  line-height: 1.5rem;
}

#quote {
  margin-bottom: 50px;
}

#quote p {
  text-align: left;
}

#read-more {
  margin: 18px 0;
}

a,
a:visited {
  color: cadetblue;
  text-decoration: none;
}

@media only screen and (max-width: 440px) {
  main {
    margin: 0;
  }
}
